<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="game.css">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script defer src="game.js"></script>
    <title>Platformer Pagman</title>
</head>
<body>
    <div id="stat-bar">
        <h2 id="score-label">Score: <span id="score">0</span></h2>
        <h2 id="top-score-label">Top Score: <span id="top-score">0</span></h2>
    </div>
    <div id="game-screen">
        <div id="player"></div>
        <div class="platform"></div>
        <div class="platform"></div>
        <div class="platform"></div>
        <div class="platform"></div>
    </div>
</body>
</html>