<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="game.css">
    <script defer src="game.js"></script>
    <title>Platformer Pagman</title>
</head>
<body>
    <div id="stat-bar">
        <h2 id="score-label">Score: <span id="score">0</span></h2>
    </div>
    <div id="game-screen">
        <div class="platform"></div>
        <div class="platform"></div>
        <div class="platform"></div>
        <div class="platform"></div>
    </div>
</body>
</html>