<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script defer src="index.js"></script>
    <title>Under Construction...</title>
</head>
<body>
    <h1>PAGE UNDER CONSTRUCTION</h1>
    <button type="button" id="to-game-button">CLICK TO GO TO GAME</button>
    <div id="game-flex">
        <img id="platformer-img" src="/img/platformer-thumbnail.png">
        <div id="pong-container">

        </div>
    </div>
</body>
</html>