<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script defer src="index.js"></script>
    <title>Game Directory</title>
</head>
<body>
    <h1 id="welcome">Welcome <span id="username">Bob</span></h1>
    <h1 id="pick-game">Pick a game to play!</h1>
    <div id="game-flex">
        <img id="platformer-img" src="/img/platformer-thumbnail.png">
        <img id="pong-img" src="/img/pong-thumbnail.png">
        <img id="snake-img" src="/img/snake-thumbnail.png">
    </div>
</body>
</html>