<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="pong.css">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script defer src="pong.js"></script>
    <title>Pong</title>
</head>
<body>
    <div id="back-button"><p id="game-directory-text">Game Directory</p></div>
    <h1 id="left-counter">3</h1>
    <div id="game-screen">
        <div id="opponent"></div>
        <div id="middle-ring">
            <h1 id="score"><span id="player-score" class="blue">0</span> - <span id="opponent-score" class="red">0</span></h1>
        </div>
        <div id="puck"></div>
        <div id="player"></div>
    </div>
    <h1 id="right-counter">3</h1>
</body>
</html>